# package directories
node_modules

# IDE
.idea

# Operating system
.DS_Store

# Dist
dist

# Local configs
config/**/*local*.yml
yarn.lock
.vscode

# Test output
test-screenshots
test-reports

# logs
*.log


# mac
.DS_Store

# configs
config/**/*local*.yml
.envrc

# Test output
test-reports
coverage

# Auto generated
built/
generated/
schema.graphql
dist/
