.uniplayer {
	background: rgb(36, 36, 36);
	bottom: 0;
	position: fixed;
	display: flex;
	height: 5rem;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	z-index: z-index('uniplayer');
	@media screen and (max-width: $small) {
		flex-direction: column;
		height: 4.5rem;
		border-top: 0.0625rem solid rgba(64, 64, 64, 1);
	}

	.uniplayer-left {
		flex: auto;
		min-width: 11.25rem;
		width: 30%;
		@media screen and (max-width: $small) {
			flex-direction: column;
			align-self: flex-start;
			background: rgb(36, 36, 36);
			bottom: 4.5625rem;
			position: absolute;
			height: 0;
			padding-bottom: 16%;
			width: 71.5%;
		}

		&.expanded {
			@media screen and (max-width: $small) {
				width: 100%;
			}
			.info-box {
				@media screen and (max-width: $small) {
					display: block;
					margin: 0 auto;
					width: 100%;
				}

				h5 {
					@media screen and (max-width: $small) {
						font-size: 1rem;
					}
				}
			}
		}

		.info-box {
			display: -ms-flexbox;
			display: flex;
			position: relative;
			text-align: center;
			-ms-flex-pack: justify;
			-ms-flex-flow: row nowrap;
			flex-flow: row nowrap;
			align-items: center;
			overflow: hidden;
			margin: 1.5rem;
			position: relative;
			opacity: 1;
			z-index: z-index('uniplayer-info-box');
			transition: opacity 0.2s;

			@media screen and (max-width: $small) {
				margin: auto 0.75rem auto 0.75rem;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: calc(70% - 3rem);
			}

			&:after {
				content: '';
				background-image: linear-gradient(to right, transparent, rgb(36, 36, 36));
				height: 100%;
				position: absolute;
				right: 0;
				width: 0.75rem;
			}

			h5 {
				display: inline-block;
				margin: 0 0.5rem;
				color: rgba(255, 255, 255, 0.9);
				white-space: nowrap;
				@media screen and (max-width: $small) {
					font-size: 0.875rem;
				}
			}
		}
	}

	.uniplayer-middle {
		flex: auto;
		max-width: 45rem;
		width: 40%;
		z-index: z-index('uniplayer-middle');
		@media screen and (max-width: $small) {
			display: flex;
			width: 90%;
		}

		.player-controls {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: column;
			flex-direction: column;
			-ms-flex-pack: center;
			justify-content: center;
			-ms-flex-align: center;
			align-items: center;
			@media screen and (max-width: $small) {
				width: 100%;
			}

			.player-buttons {
				display: -ms-flexbox;
				display: flex;
				position: relative;
				text-align: center;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-ms-flex-flow: row nowrap;
				flex-flow: row nowrap;
				align-items: center;

				.arrow {
					cursor: pointer;
					display: inline-block;
					height: 0.75rem;
					margin: 0 0.5rem;
					padding: 0.625rem;
					position: relative;
					opacity: 0.6;
					width: 0.75rem;

					&:hover {
						opacity: 1;
					}
					&.previous {
						&:before {
							background: white;
							content: '';
							display: inline-block;
							height: 0.75rem;
							top: -0.1875rem;
							position: relative;
							width: 0.125rem;
						}
						&:after {
							content: '';
							display: inline-block;
							border-bottom: 0.375rem solid transparent;
							border-right: 0.625rem solid white;
							border-top: 0.375rem solid transparent;
							height: 0;
							top: -0.1875rem;
							position: relative;
							width: 0;
						}
					}

					&.next {
						&:before {
							content: '';
							border-bottom: 0.375rem solid transparent;
							border-left: 0.625rem solid white;
							border-top: 0.375rem solid transparent;
							display: inline-block;
							height: 0;
							top: -0.1875rem;
							position: relative;
							width: 0;
						}
						&:after {
							background: white;
							content: '';
							display: inline-block;
							height: 0.75rem;
							top: -0.1875rem;
							position: relative;
							width: 0.125rem;
						}
					}
				}
			}

			.playback-holder {
				position: relative;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-direction: row;
				flex-direction: row;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-ms-flex-align: center;
				align-items: center;
				width: 100%;

				.duration {
					color: rgba(255, 255, 255, 0.7);
					font-size: 0.75rem;
					min-width: 2.5rem;
					position: relative;
					text-align: center;
				}

				.player-slider {
					border-radius: 0.25rem;
					height: 1.5rem;
					opacity: 1;
					position: relative;
					overflow: hidden;
					width: 100%;
					z-index: z-index('uniplayer-playback-box');
					transition: all 0.1s;

					&:hover {
						.progress-bar-bg {
							.progress-bar {
								background: rgb(156, 77, 157);
							}
						}
						.player-bar {
							&::-webkit-slider-thumb {
								height: 0.75rem;
								width: 0.75rem;
							}
						}
					}

					.progress-bar-bg {
						background: rgb(80, 80, 80);
						border-radius: 0.5rem;
						height: 0.25rem;
						overflow: hidden;
						position: absolute;
						top: 50%;
						width: 100%;
						transform: translateY(-50%);

						.progress-bar {
							background: rgba(255, 255, 255, 0.6);
							border-radius: 0 0.5rem 0.5rem 0;
							height: 0.25rem;
							position: absolute;
							top: 50%;
							width: 100%;
							transform: translateY(-50%);
						}
					}

					.player-bar {
						background: transparent;
						-moz-appearance: none;
						-webkit-appearance: none;
						appearance: none;
						cursor: pointer;
						height: 1.5rem;
						margin: 0;
						outline: none;
						position: relative;
						width: 100%;
						z-index: z-index('uniplayer-bar');
						transition: all 0.1s;

						&::-webkit-slider-thumb {
							appearance: none;
							background: rgb(255, 255, 255);
							border-radius: 50%;
							height: 0;
							pointer-events: none;
							width: 0;
							z-index: z-index('uniplayer-slider');
							-webkit-appearance: none;
							transition: all 0.1s;
						}
					}
				}
			}
		}
	}

	.uniplayer-right {
		display: flex;
		flex: auto;
		justify-content: flex-end;
		min-width: 11.25rem;
		pointer-events: none;
		width: 30%;
		@media screen and (max-width: $small) {
			background: transparent;
			bottom: 4.5625rem;
			position: absolute;
			height: 0;
			padding-bottom: 16%;
			pointer-events: all;
			width: 100%;
			z-index: z-index('uniplayer-mobile-expand');
		}

		&.expanded {
			.image-holder {
				display: none;
			}
			.expand-toggle {
				display: flex;
				@media screen and (max-width: $small) {
					right: 0;
				}
			}
		}

		.image-holder {
			display: inline-block;
			position: relative;
			height: 5rem;
			overflow: hidden;
			width: 8.875rem;
			@media screen and (max-width: $medium) {
				display: none;
			}

			img {
				display: inline-block;
				height: 6.82rem;
				position: relative;
				top: -0.9rem;
				width: 9rem;
			}
		}

		.expand-toggle {
			box-sizing: content-box;
			cursor: pointer;
			display: none;
			height: 0.5rem;
			opacity: 0.6;
			padding: 1rem;
			pointer-events: all;
			position: absolute;
			right: 0.5rem;
			width: 0.875rem;
			top: 50%;
			transform: translateY(-50%);
			&:hover {
				opacity: 1;
			}
			&:before {
				align-content: center;
				content: '';
				height: 0;
				justify-content: center;
				width: 0;
				border-top: 0.5rem solid white;
				border-left: 0.45rem solid transparent;
				border-right: 0.45rem solid transparent;
			}
		}
	}

	//Player
	.player-holder {
		background: rgba(0, 0, 0, 0.2);
		top: 0.5rem;
		right: 0;
		overflow: hidden;
		position: absolute;
		width: 8.875rem;
		max-width: 24rem;
		z-index: z-index('uniplayer-holder');
		transform: translateY(calc(-100% + 4.5rem));

		@media screen and (max-width: $small) {
			border-radius: 0;
			-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
			-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
			box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
			right: 0;
			width: 28.5%;
			top: -4.5625rem;
		}

		&.expanded {
			border-radius: 0;
			position: fixed;
			max-width: none;
			right: auto;
			top: 50%;
			max-width: 80rem;
			width: 90%;
			transform: translateY(calc(-50% - 1.875rem));

			@media screen and (max-width: $small) {
				width: 100%;
			}

			&:hover {
				.player-outer {
					.iframeblocker {
						background: rgba(0, 0, 0, 0);
					}
				}
			}
		}

		&:hover {
			.player-outer {
				.iframeblocker {
					background: rgba(0, 0, 0, 0.25);
				}
			}
		}

		.player-outer {
			display: block;
			left: 50%;
			position: relative;
			transform: translateX(-50%);

			.iframeblocker {
				background: rgba(0, 0, 0, 0);
				bottom: 0;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				transition: all 0.1s;
				z-index: z-index('uniplayer-iframe-blocker');
				@media screen and (max-width: $small) {
					display: none;
				}
			}
			.player-inner {
				height: 0;
				padding-bottom: 56.25%;
				position: relative;
				width: 100%;
				z-index: z-index('uniplayer-inner');
				.react-player {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					cursor: default;
					margin: 0;
					overflow: hidden;

					div {
						height: 250% !important;
						position: relative;
						top: -75%;
						width: 100%;
					}
				}
			}
		}
	}

	.player-background {
		background: rgb(25, 25, 25);
		bottom: 5rem;
		left: 0;
		position: fixed;
		right: 0;
		top: 3.45rem;
		z-index: z-index('uniplayer-background');

		@media screen and (max-width: $small) {
			bottom: 4.5rem;
			top: 0;
		}
	}
}
