.uniplayer {
	background: rgb(36, 36, 36);
	bottom: 0;
	position: fixed;
	display: flex;
	height: 5rem;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	z-index: z-index('uniplayer');
	@media screen and (max-width: $medium) {
		flex-direction: column;
		height: 4.5rem;
		border-top: 0.0625rem solid rgba(64, 64, 64, 1);
	}

	.uniplayer-left {
		flex: auto;
		min-width: 11.25rem;
		width: 30%;
		@media screen and (max-width: $medium) {
			align-self: flex-start;
			background: rgb(36, 36, 36);
			bottom: 4.5625rem;
			position: absolute;
			margin-left: 8rem;
			width: calc(100% - 8rem);
		}
		@media screen and (max-width: 450px) {
			margin-left: 28.5%;
			width: 71.5%;
		}

		.info-box {
			display: -ms-flexbox;
			display: flex;
			position: relative;
			text-align: center;
			-ms-flex-pack: justify;
			-ms-flex-flow: row nowrap;
			flex-flow: row nowrap;
			align-items: center;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin: 1.5rem;
			position: relative;
			opacity: 1;
			z-index: z-index('uniplayer-info-box');
			transition: opacity 0.2s;
			@media screen and (max-width: $medium) {
				margin: 1.75rem 0.5rem;
			}
			@media screen and (max-width: 450px) {
				margin: 1.5rem 0.25rem;
			}

			.image-holder {
				display: inline-block;
				position: relative;
				height: 2.75rem;
				overflow: hidden;
				min-width: 5rem;
				@media screen and (max-width: $medium) {
					display: none;
				}

				img {
					height: 3.75rem;
					position: relative;
					top: -0.5rem;
					width: 5rem;
				}
			}

			img {
				display: inline-block;
			}

			h5 {
				display: inline-block;
				margin: 0 0.5rem;
				color: rgba(255, 255, 255, 0.9);
				@media screen and (max-width: $small) {
					font-size: 0.875rem;
				}
			}
		}
	}

	.uniplayer-middle {
		flex: auto;
		max-width: 45rem;
		width: 40%;
		z-index: z-index('uniplayer-middle');
		@media screen and (max-width: $medium) {
			display: flex;
			width: 90%;
		}

		.player-controls {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: column;
			flex-direction: column;
			-ms-flex-pack: center;
			justify-content: center;
			-ms-flex-align: center;
			align-items: center;
			@media screen and (max-width: $medium) {
				width: 100%;
			}

			.player-buttons {
				display: -ms-flexbox;
				display: flex;
				position: relative;
				text-align: center;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-ms-flex-flow: row nowrap;
				flex-flow: row nowrap;
				align-items: center;

				.arrow {
					cursor: pointer;
					display: inline-block;
					height: 0.75rem;
					margin: 0 0.5rem;
					padding: 0.625rem;
					position: relative;
					opacity: 0.6;
					width: 0.75rem;

					&:hover {
						opacity: 1;
					}
					&.previous {
						&:before {
							background: white;
							content: '';
							display: inline-block;
							height: 0.75rem;
							top: -0.1875rem;
							position: relative;
							width: 0.125rem;
						}
						&:after {
							content: '';
							display: inline-block;
							border-bottom: 0.375rem solid transparent;
							border-right: 0.625rem solid white;
							border-top: 0.375rem solid transparent;
							height: 0;
							top: -0.1875rem;
							position: relative;
							width: 0;
						}
					}

					&.next {
						&:before {
							content: '';
							border-bottom: 0.375rem solid transparent;
							border-left: 0.625rem solid white;
							border-top: 0.375rem solid transparent;
							display: inline-block;
							height: 0;
							top: -0.1875rem;
							position: relative;
							width: 0;
						}
						&:after {
							background: white;
							content: '';
							display: inline-block;
							height: 0.75rem;
							top: -0.1875rem;
							position: relative;
							width: 0.125rem;
						}
					}
				}
			}

			.playback-holder {
				position: relative;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-direction: row;
				flex-direction: row;
				-ms-flex-pack: justify;
				justify-content: space-between;
				-ms-flex-align: center;
				align-items: center;
				width: 100%;

				.duration {
					color: rgba(255, 255, 255, 0.7);
					font-size: 0.75rem;
					min-width: 2.5rem;
					position: relative;
					text-align: center;
				}

				.player-slider {
					border-radius: 0.25rem;
					height: 1.5rem;
					opacity: 1;
					position: relative;
					overflow: hidden;
					width: 100%;
					z-index: z-index('uniplayer-playback-box');
					transition: all 0.1s;

					&:hover {
						.progress-bar-bg {
							.progress-bar {
								background: rgb(156, 77, 157);
							}
						}
						.player-bar {
							&::-webkit-slider-thumb {
								height: 0.75rem;
								width: 0.75rem;
							}
						}
					}

					.progress-bar-bg {
						background: rgb(80, 80, 80);
						border-radius: 0.5rem;
						height: 0.25rem;
						overflow: hidden;
						position: absolute;
						top: 50%;
						width: 100%;
						transform: translateY(-50%);

						.progress-bar {
							background: rgba(255, 255, 255, 0.6);
							border-radius: 0 0.5rem 0.5rem 0;
							height: 0.25rem;
							position: absolute;
							top: 50%;
							width: 100%;
							transform: translateY(-50%);
						}
					}

					.player-bar {
						background: transparent;
						-moz-appearance: none;
						-webkit-appearance: none;
						appearance: none;
						cursor: pointer;
						height: 1.5rem;
						margin: 0;
						outline: none;
						position: relative;
						width: 100%;
						z-index: z-index('uniplayer-bar');
						transition: all 0.1s;

						&::-webkit-slider-thumb {
							appearance: none;
							background: rgb(255, 255, 255);
							border-radius: 50%;
							height: 0;
							pointer-events: none;
							width: 0;
							z-index: z-index('uniplayer-slider');
							-webkit-appearance: none;
							transition: all 0.1s;
						}
					}
				}
			}
		}
	}

	.uniplayer-right {
		flex: auto;
		min-width: 11.25rem;
		width: 30%;
		@media screen and (max-width: $medium) {
			position: absolute;
		}
	}

	//Player
	.player-holder {
		background: rgba(0, 0, 0, 0.2);
		border-radius: 0.5rem;
		box-shadow: 0;
		top: 0;
		right: 0.75rem;
		overflow: hidden;
		position: absolute;
		width: 28.5%;
		max-width: 24rem;
		z-index: z-index('uniplayer-holder');
		transform: translateY(calc(-100% + 4.5rem));

		-webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);

		@media screen and (max-width: $medium) {
			border-radius: 0;
			-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
			-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
			box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
			left: 0;
			right: auto;
			top: -4.5625rem;
			max-width: 8rem;
		}

		&.expanded {
			border-radius: 0;
			position: fixed;
			max-width: none;
			right: auto;
			top: 50%;
			max-width: 80rem;
			width: 90%;
			transform: translateY(calc(-50% - 1.875rem));

			-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
			-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
			box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);

			&:hover {
				.player-outer {
					.iframeblocker {
						background: rgba(0, 0, 0, 0);
					}
				}
			}

			.player-outer {
				.size-buttons {
					.expand-button {
						&:before {
							bottom: 0.125rem;
							height: 0.5rem;
							left: auto;
							right: 0.125rem;
							top: auto;
							width: 0.75rem;
						}
					}
				}
			}
		}

		&:hover {
			.player-outer {
				.iframeblocker {
					background: rgba(0, 0, 0, 0.25);
				}

				.size-buttons {
					opacity: 1;
				}
			}
		}

		.player-outer {
			display: block;
			left: 50%;
			position: relative;
			transform: translateX(-50%);

			.iframeblocker {
				background: rgba(0, 0, 0, 0);
				bottom: 0;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				transition: all 0.1s;
				z-index: z-index('uniplayer-iframe-blocker');
			}

			.size-buttons {
				display: inline-block;
				opacity: 0;
				position: absolute;
				top: 0.675rem;
				right: 0.675rem;
				transition: all 0.1s;
				z-index: z-index('uniplayer-size-buttons');

				.expand-button {
					background: transparent;
					cursor: pointer;
					border-radius: 0.125rem;
					border: 0.125rem solid rgba(255, 255, 255, 1);
					display: inline-block;
					height: 1.125rem;
					opacity: 0.9;
					position: relative;
					transition: all 0.1s;
					width: 1.75rem;

					&:hover {
						opacity: 1;
					}

					&:before {
						content: '';
						background: rgba(255, 255, 255, 1);
						border-radius: 0.0675rem;
						left: 0.125rem;
						height: 0.75rem;
						position: absolute;
						top: 0.125rem;
						width: 1.25rem;
					}
				}
			}

			.player-inner {
				height: 0;
				padding-bottom: 56.25%;
				position: relative;
				width: 100%;
				z-index: z-index('uniplayer-inner');
				.react-player {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					cursor: default;
					margin: 0;
					overflow: hidden;

					div {
						height: 250% !important;
						position: relative;
						top: -75%;
						width: 100%;
					}
				}
			}
		}
	}

	.player-background {
		background: rgb(25, 25, 25);
		bottom: 5rem;
		left: 0;
		position: fixed;
		right: 0;
		top: 3.45rem;
		z-index: z-index('uniplayer-background');
	}
}
