@mixin transform($transform...) {
-webkit-transform: $transform;
   -moz-transform: $transform;
    -ms-transform: $transform;
     -o-transform: $transform;
        transform: $transform;
}
  
@mixin transition($transition...) {
-webkit-transition: $transition;
   -moz-transition: $transition;
     -o-transition: $transition;
        transition: $transition;
}

@mixin filter($filter-type,$filter-amount) {
-webkit-filter: $filter-type+unquote('(#{$filter-amount})');
   -moz-filter: $filter-type+unquote('(#{$filter-amount})');
    -ms-filter: $filter-type+unquote('(#{$filter-amount})');
     -o-filter: $filter-type+unquote('(#{$filter-amount})');
        filter: $filter-type+unquote('(#{$filter-amount})');
}