.uniplayer-outer {
	display: flex;
	height: 100vh;
	width: 100%;

	.uniplayer {
		background: rgb(156, 77, 157);
		background: linear-gradient(180deg, rgba(156, 77, 157, 1) 0%, rgba(25, 12, 24, 0.75) 100%);
		height: 100%;
		width: 100%;

		&.active {
			.player-holder {
				.info-box {
					opacity: 1;
				}
			}
		}

		//Player
		.player-holder {
			margin: 0 auto;
			position: relative;
			max-width: 1200px;
			width: 75%;
			top: 50%;
			z-index: z-index('uniplayer-holder');
			transform: translateY(-50%);

			.player-outer {
				display: block;
				left: 50%;
				overflow: hidden;
				position: relative;
				transform: translateX(-50%);

				.iframeblocker {
					bottom: 0;
					left: 0;
					position: fixed;
					right: 0;
					top: 0;
					z-index: z-index('uniplayer-iframe-blocker');
				}

				.player-inner {
					height: 0;
					padding-bottom: 56.25%;
					position: relative;
					width: 100%;
					z-index: z-index('uniplayer-inner');
					.react-player {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						cursor: default;
						margin: 0;
						overflow: hidden;

						div {
							height: 160% !important;
							position: relative;
							top: -30%;
							width: 100%;
						}
					}
				}

				.playback-box {
					bottom: 0;
					position: absolute;
					height: 0.75rem;
					opacity: 1;
					width: 100%;
					z-index: z-index('uniplayer-playback-box');
					transition: all 0.1s;

					&.active {
						opacity: 1;
					}

					&:hover {
						height: 0.75rem;
						.range-holder {
							display: block;
							height: 0.75rem;
							.hover-range {
								height: 0.75rem;
							}
						}
						.time-holder {
							display: inline-block;
							.hover-time {
								opacity: 1;
							}
						}
						.player-bar {
							height: 0.75rem;
							&::-webkit-slider-thumb {
								height: 0.75rem;
							}
						}
					}

					.range-holder {
						bottom: 0;
						display: none;
						height: 0.125rem;
						position: absolute;
						overflow: hidden;
						width: 100%;
						transition: all 0.1s;

						.hover-range {
							background: rgba(200, 200, 200, 0.5);
							height: 0.125rem;
							width: 5000px;
							position: absolute;
							margin-left: -5000px;
							z-index: 1;
						}
					}

					.time-holder {
						display: none;
						pointer-events: none;
						position: absolute;
						page-break-after: auto;
						top: -1.375rem;
						z-index: 1;
						transform: translateX(-50%);

						.hover-time {
							color: white;
							background: black;
							display: inline-block;
							font-size: 0.875rem;
							padding: 2px 4px;
							text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
						}
					}

					.player-bar {
						bottom: 0;
						appearance: none;
						background: rgba(255, 255, 255, 0.3);
						cursor: pointer;
						height: 0.125rem;
						margin: 0;
						outline: none;
						overflow: hidden;
						position: absolute;
						width: 100%;
						z-index: z-index('uniplayer-bar');
						-webkit-appearance: none;
						transition: all 0.1s;

						&::-webkit-slider-thumb {
							appearance: none;
							background: transparent;
							height: 0.125rem;
							pointer-events: none;
							width: 0;
							z-index: z-index('uniplayer-slider');
							-webkit-appearance: none;
							transition: all 0.1s;
							box-shadow: -5000px 0 0 5000px rgba(255, 255, 255, 0.5);
						}
					}
				}
			}
			//Song Info
			.info-box {
				display: block;
				margin-top: 1rem;
				position: relative;
				opacity: 0;
				z-index: z-index('uniplayer-info-box');
				transition: opacity 0.2s;

				h3 {
					margin: 0.25rem 0;
					color: white;
					text-shadow: 0 0.0675rem 0.25rem rgba(0, 0, 0, 0.5);

					&.song-title {
						font-family: 'Haas Med', Arial, sans-serif;
					}
				}
			}
		}
	}
}
