@import '../common/styles/utilities/mixins';

.uniplayer {
	background: #8e1d2e;
	bottom: 0px;
	left: 0px;
	position: fixed;
	right: 0px;
	top: 0px;
	width: 100%;

	&.active {
		opacity: 1;
		@include transition(opacity 0.1s);
		pointer-events: all;

		.player-holder {
			.info-box {
				opacity: 1;
			}
		}
	}

	.song-lines {
		margin: 0px auto;
		max-width: 1200px;
		position: relative;
		top: 42px;
		width: 75%;
		z-index: 3;

		.line-box {
			background: rgba(255, 255, 255, 0.3);
			border-radius: 100px;
			align-items: center;
			display: -ms-flexbox;
			display: flex;
			flex-direction: row;
			height: 3px;
			margin-bottom: 22px;
			justify-content: flex-start;
			overflow: hidden;
			position: relative;
			width: 30%;
			-ms-flex-direction: row;
			-ms-flex-pack: start;
			-ms-flex-align: center;

			.player-bar {
				appearance: none;
				background: transparent;
				cursor: pointer;
				height: 100%;
				margin: 0;
				outline: none;
				overflow: hidden;
				position: relative;
				width: 100%;
				z-index: 2;
				-webkit-appearance: none;

				&::-webkit-slider-thumb {
					appearance: none;
					background: transparent;
					height: 3px;
					pointer-events: none;
					width: 0;
					z-index: 10;
					-webkit-appearance: none;
					@include transition(all 0.1s);
					box-shadow: -5000px 0 0 5000px rgba(255, 255, 255, 0.5);
				}
			}
		}
	}

	//Player
	.player-holder {
		margin: 0 auto;
		position: relative;
		top: 50%;
		max-width: 1600px;
		z-index: 3;
		@include transform(translateY(-50%));

		.player-outer {
			display: block;
			left: 50%;
			max-width: 1200px;
			position: relative;
			width: 75%;
			@include transform(translateX(-50%));

			.iframeblocker {
				bottom: 0;
				left: 0;
				position: fixed;
				right: 0;
				top: 0;
				z-index: 2;
			}

			&:hover {
				.playback-box {
					height: 8px;

					.time-box {
						opacity: 1;
					}
				}
			}

			.player-inner {
				height: 0;
				padding-bottom: 56.25%;
				position: relative;
				width: 100%;
				z-index: 1;
				.react-player {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					cursor: default;
					margin: 0;
					overflow: hidden;

					div {
						height: 160% !important;
						position: relative;
						top: -30%;
						width: 100%;
					}
				}
			}

			.playback-box {
				background: rgba(255, 255, 255, 0.3);
				position: absolute;
				bottom: 0;
				height: 0;
				opacity: 0;
				width: 100%;
				z-index: 3;
				@include transition(all 0.1s);

				&.active {
					opacity: 1;
				}

				&:hover {
					.range-holder {
						display: block;
						height: 8px;
						position: absolute;
						overflow: hidden;
						width: 100%;

						.hover-range {
							background: rgba(200, 200, 200, 0.5);
							height: 8px;
							width: 5000px;
							position: absolute;
							margin-left: -5000px;
							z-index: 1;
						}
					}
					.time-box {
						.time-played {
							display: none;
						}
						.hover-time {
							display: inline-block;
						}
					}
				}

				.player-bar {
					appearance: none;
					background: transparent;
					cursor: pointer;
					height: 100%;
					margin: 0;
					outline: none;
					overflow: hidden;
					position: absolute;
					width: 100%;
					z-index: 2;
					-webkit-appearance: none;

					&::-webkit-slider-thumb {
						appearance: none;
						background: transparent;
						height: 6px;
						pointer-events: none;
						width: 0;
						z-index: 10;
						-webkit-appearance: none;
						@include transition(all 0.1s);
						box-shadow: -5000px 0 0 5000px rgba(255, 255, 255, 0.5);
					}
				}

				.time-box {
					display: inline-block;
					right: 0;
					opacity: 0;
					pointer-events: none;
					position: absolute;
					right: 8px;
					top: -24px;
					z-index: 1;
					@include transition(all 0.1s);

					time {
						font-size: 1rem;
						color: white;
						text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
					}

					.hover-time {
						font-size: 1rem;
						color: white;
						display: none;
						left: 0;
						text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
					}

					.time-divider {
						color: white;
						display: inline-block;
						margin: 0 4px;
						position: relative;
						top: -1px;
						text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
					}
				}
			}
		}

		//Song Info
		.info-box {
			display: block;
			margin-top: 16px;
			position: relative;
			left: 42px;
			opacity: 0;
			z-index: 3;
			@include transition(opacity 0.2s);

			h3 {
				font-family: Helvetica;
				margin: 4px 0;
				color: white;
				text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);

				&.song-title {
					font-weight: 600;
				}
				&.user-id {
					font-weight: 300;
					a {
						color: white;
					}
				}
			}
		}
	}
}
