@font-face {
	font-family: 'WS Reg';
	src: url('./utilities/fonts/WorkSans-Regular.ttf') format('ttf');
}

@font-face {
	font-family: 'WS SB';
	src: url('./utilities/fonts/WorkSans-SemiBold.ttf') format('woff2');
}

//Media Query Variables
$small: 600px;
$medium: 900px;
$large: 1200px;
$extra-large: 1800px;

body {
	background: rgb(25, 25, 25);
	font-family: 'WS Reg', Arial, sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
	margin: 0;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

h1 {
	font-size: 2rem;
	@media screen and (max-width: $small) {
		font-size: 1.5rem;
	}
}

h2 {
	font-size: 1.5rem;
	@media screen and (max-width: $small) {
		font-size: 1.25rem;
	}
}

h3 {
	font-size: 1.25rem;
	@media screen and (max-width: $small) {
		font-size: 1rem;
	}
}

h4 {
	font-size: 1rem;
	@media screen and (max-width: $small) {
		font-size: 0.875rem;
	}
}

h5 {
	font-size: 0.875rem;
	@media screen and (max-width: $small) {
		font-size: 0.75rem;
	}
}

h6 {
	font-size: 0.75rem;
	@media screen and (max-width: $small) {
		font-size: 0.675rem;
	}
}

button {
	background: transparent;
	border: 0;
	font-family: 'WS SB', Arial, sans-serif;
	outline: none;
}

main {
	margin: 0;
}

ul,
li {
	margin: 0;
	padding: 0;
}

.toast.toast {
	background: transparent;
	padding: 0;
}

.toast-container.toast-container {
	bottom: 3.5rem;
	left: 50% !important;
	margin-left: 0;
	width: auto;
	transform: translateX(-50%);
	z-index: z-index('toast');

	@media screen and (max-width: $small) {
		bottom: 8.5rem;
	}
}
