.landing-inner {
	background: #9c4d9d;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	z-index: z-index('landing');

	.circle {
		border-radius: 50%;
		left: 50%;
		top: 50%;
		position: absolute;
		transform: translate(-50%, -50%);

		&.center {
			background: #ffffff;
			padding-top: 32%;
			width: 32%;
			z-index: z-index('landing-center');
		}

		&.outer {
			border: 1px solid black;
			box-sizing: border-box;
			background: transparent;
			padding-top: calc(100% - 20px);
			width: calc(100% - 20px);
			z-index: z-index('landing-outer');
		}
		&.background {
			width: 100%;
			padding-top: 100%;
			background: #0d0d0d;
			z-index: z-index('landing-background');
		}

		&.hole {
			width: 36px;
			padding-top: 36px;
			background: #9c4d9d;
			z-index: z-index('landing-hole');
		}
	}

	.ring {
		border-radius: 50%;
		left: 50%;
		top: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		border: 1px solid black;
		box-sizing: border-box;
		background: transparent;
		z-index: z-index('landing-rings');
	}

	.hero-headline {
		color: black;
		cursor: pointer;
		font-family: 'Haas Med';
		left: 50%;
		line-height: normal;
		pointer-events: none;
		position: absolute;
		text-align: center;
		top: calc(50% - 5rem);
		transform: translate(-50%, -50%);
		z-index: z-index('landing-hero');
	}

	.hero-action {
		display: block;
		cursor: pointer;
		left: 50%;
		position: absolute;
		text-align: center;
		top: calc(50% + 6.5rem);
		transform: translate(-50%, -50%);
		z-index: z-index('landing-hero');

		.link-holder {
			display: block;
			margin: 0 auto 1.5rem auto;

			.link-base {
				display: inline-block;
			}

			input {
				background: #f2f2f2;
				border: 0;
				border-radius: 0;
				display: inline-block;
				font-size: 1.25rem;
				position: relative;
				padding: 0.5rem 0.5rem;
				outline: none;
				width: 8rem;
			}
		}

		.hero-button {
			background: white;
			border: 1px solid black;
			border-radius: 0.25rem;
			color: black;
			cursor: pointer;
			display: inline-block;
			font-size: 1rem;
			outline: none;
			opacity: 0.7;
			padding: 0.5rem;
			position: relative;
			text-align: center;

			&:hover {
				background: black;
				opacity: 1;
				color: white;
			}
		}
	}
}

@for $i from 1 through 80 {
	$width: calc(100% - #{(20 * $i) + 'px'});

	.ring:nth-of-type(#{$i}) {
		width: $width;
		padding-top: $width;
	}
}
