.landing-inner {
  display: flex;
  flex-direction: column;

  .hero-headline {
    color: white;
    cursor: pointer;
    display: block;
    font-family: 'Haas Med';
    font-size: 3rem;
    margin-top: 10rem;
    line-height: normal;
    text-align: center;
    white-space: nowrap;

    @media screen and (max-width: $medium) {
      font-size: 2.5rem;
      margin-top: 9rem;
    }
    @media screen and (max-width: $small) {
      font-size: 2rem;
      margin-top: 8rem;
    }
  }

  .hero-description {
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1.125rem;
    margin-top: 1rem;
    line-height: normal;
    text-align: center;
    white-space: nowrap;

    @media screen and (max-width: $medium) {
      font-size: 1rem;
      margin-top: 0.875rem;
    }
    @media screen and (max-width: $small) {
      margin-top: 0.75rem;
    }
  }

  .hero-action {
    display: flex;
    cursor: pointer;
    justify-content: center;
    margin-top: 3rem;

    input {
      background: #dcdcdc;
      border: 0;
      border-radius: 0.25rem;
      color: black;
      font-size: 1rem;
      position: relative;
      padding: 0.5rem 0.75rem;
      outline: none;
      min-width: 13rem;
      margin-right: 0.5rem;

      &::placeholder {
        color: #222222;
      }
    }

    .hero-button {
      background: white;
      border-radius: 1rem;
      color: black;
      cursor: pointer;
      font-size: 1rem;
      font-family: 'Haas Med';
      outline: none;
      padding: 0.5rem 0.75rem;
      position: relative;
      text-align: center;
      transition: all 0.1s;

      &:hover {
        background: black;
        opacity: 1;
        color: white;
      }
    }
  }

  .featured {
    margin: 12rem 0 4rem 0;

    @media screen and (max-width: $medium) {
      margin: 9rem 0;
    }
    @media screen and (max-width: $small) {
      margin: 8rem 0;
    }

    .featured-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
      margin: 0 2rem 0.75rem 2rem;
      width: calc(100% - 4rem);

      .scroll-featured {
        display: flex;
        align-items: center;
        justify-content: center;

        h5 {
          color: white;
          margin-right: 0.25rem;
        }

        img {
          height: 0.5rem;
          width: 1.5rem;
        }
      }
    }

    .collection-cards {
      display: block;
      overflow-x: scroll;
      white-space: nowrap;
      width: 100%;

      &::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
      }

      .swipeable-card {
        border-radius: 0.25rem;
        display: inline-block;
        cursor: pointer;
        margin: 0 1rem;
        max-width: 17.5rem;
        overflow: hidden;
        padding: 1rem;
        vertical-align: top;
        text-align: center;
        transition: all 0.2s;

        &:nth-child(1) {
          margin-left: 2rem;
        }

        &.nominate {
          padding: 0;
          height: 20.69rem;

          .nominate-trigger {
            background: rgba(255, 255, 255, 0.6);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            position: relative;
            transition: all 0.1s;
            width: 100%;

            &:hover {
              background: rgba(255, 255, 255, 0.8);
            }

            h1 {
              color: #416098;
              font-family: 'Haas Med';
              padding: 0.5rem;
              white-space: normal;
            }
          }
          .google-form {
            display: none;
          }
        }

        &:hover {
          .example-record {
            -webkit-animation: rotating 18s linear infinite;
            -moz-animation: rotating 18s linear infinite;
            -ms-animation: rotating 18s linear infinite;
            -o-animation: rotating 18s linear infinite;
            animation: rotating 18s linear infinite;
          }

          .featured-name {
            text-decoration: underline;
          }
        }

        .example-record {
          align-items: center;
          display: flex;
          position: relative;
          justify-content: center;

          img {
            border-radius: 50%;
            height: 248px;
            width: 248px;
          }

          .pinhole {
            border-radius: 50%;
            height: 3rem;
            position: absolute;
            width: 3rem;
          }
        }
        .featured-name {
          color: white;
          margin-top: 0.75rem;
          padding: 0.5rem;
        }
      }
    }
  }
}

.one {
  background: #ac6484;
}

.two {
  background: #6099bd;
}

.three {
  background: #d1b330;
}

.four {
  background: #ad0038;
}

.five {
  background: #4d8b80;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
