.landing-inner {
  background: black;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;

  .circle {
    border-radius: 50%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    &.background {
      width: 104%;
      padding-top: 104%;
      background: #0d0d0d;

      @media screen and (max-width: 1450px) {
        padding-top: 108%;
        width: 108%;
      }
      @media screen and (max-width: $large) {
        padding-top: 115%;
        width: 115%;
      }
      @media screen and (max-width: $medium) {
        padding-top: 130%;
        width: 130%;
      }
      @media screen and (max-width: 750px) {
        padding-top: 150%;
        width: 150%;
      }
      @media screen and (max-width: $small) {
        padding-top: 180%;
        width: 180%;
      }
    }

    &.center {
      background: #1c1c1c;
      padding-top: 36%;
      width: 36%;

      @media screen and (max-width: 1450px) {
        padding-top: 40%;
        width: 40%;
      }
      @media screen and (max-width: $large) {
        padding-top: 48%;
        width: 48%;
      }
      @media screen and (max-width: $medium) {
        padding-top: 58%;
        width: 58%;
      }
      @media screen and (max-width: 750px) {
        padding-top: 70%;
        width: 70%;
      }
      @media screen and (max-width: $small) {
        padding-top: 90%;
        width: 90%;
      }
    }

    &.outer {
      border: 1px solid black;
      box-sizing: border-box;
      background: transparent;
      padding-top: calc(104% - 20px);
      width: calc(104% - 20px);

      @media screen and (max-width: 1450px) {
        padding-top: calc(108% - 18px);
        width: calc(108% - 18px);
      }
      @media screen and (max-width: $large) {
        padding-top: calc(115% -16px);
        width: calc(115% - 16px);
      }
      @media screen and (max-width: $medium) {
        padding-top: calc(130% - 14px);
        width: calc(130% - 14px);
      }
      @media screen and (max-width: 750px) {
        padding-top: calc(150% - 12px);
        width: calc(150% - 12px);
      }
      @media screen and (max-width: $small) {
        padding-top: calc(180% - 10px);
        width: calc(180% - 10px);
      }
    }

    &.hole {
      background: black;
      padding-top: 24px;
      width: 24px;
      @media screen and (max-width: $large) {
        padding-top: 22px;
        width: 22px;
      }
      @media screen and (max-width: $medium) {
        padding-top: 20px;
        width: 20px;
      }
      @media screen and (max-width: $small) {
        padding-top: 18px;
        width: 18px;
      }
    }
  }

  .ring {
    border-radius: 50%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    box-sizing: border-box;
    background: transparent;
  }

  .hero-headline {
    color: white;
    cursor: pointer;
    font-family: 'WS SB';
    left: 50%;
    line-height: normal;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: calc(50% - 7rem);
    transform: translate(-50%, -50%);
    white-space: nowrap;

    @media screen and (max-width: $large) {
      font-size: 1.875rem;
      top: calc(50% - 6.5rem);
    }
    @media screen and (max-width: $medium) {
      font-size: 1.75rem;
      top: calc(50% - 6rem);
    }
    @media screen and (max-width: $small) {
      font-size: 1.675rem;
      top: calc(50% - 5.5rem);
    }
  }

  .hero-description {
    color: white;
    cursor: pointer;
    font-family: 'WS SB';
    left: 50%;
    line-height: normal;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: calc(50% - 4.5rem);
    transform: translate(-50%, -50%);
    white-space: nowrap;

    @media screen and (max-width: $large) {
      font-size: 1.875rem;
      top: calc(50% - 4rem);
    }
    @media screen and (max-width: $medium) {
      font-size: 1.75rem;
      top: calc(50% - 3.5rem);
    }
    @media screen and (max-width: $small) {
      font-size: 1.675rem;
      top: calc(50% - 3rem);
    }
  }

  .hero-action {
    display: block;
    cursor: pointer;
    left: 50%;
    min-width: 214px;
    position: absolute;
    text-align: center;
    top: calc(50% + 6.5rem);
    transform: translate(-50%, -50%);

    @media screen and (max-width: $large) {
      top: calc(50% + 6rem);
    }
    @media screen and (max-width: $medium) {
      top: calc(50% + 5.25rem);
    }
    @media screen and (max-width: $small) {
      top: calc(50% + 4.5rem);
    }

    input {
      background: transparent;
      border: 0;
      border-bottom: 2px solid white;
      border-radius: 0;
      color: white;
      display: block;
      font-size: 1.5rem;
      position: relative;
      padding: 0.5rem;
      outline: none;
      text-align: center;

      &::placeholder {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .hero-button {
      background: white;
      border-radius: 2rem;
      color: black;
      cursor: pointer;
      display: inline-block;
      font-size: 1.5rem;
      margin-top: 1.5rem;
      outline: none;
      padding: 0.75rem 1.25rem;
      position: relative;
      text-align: center;
      transition: all 0.1s;

      &:hover {
        background: black;
        opacity: 1;
        color: white;
      }
    }
  }
}

@for $i from 1 through 100 {
  .ring:nth-of-type(#{$i}) {
    padding-top: calc(105% - #{(20 * $i) + 'px'});
    width: calc(105% - #{(20 * $i) + 'px'});
    @media screen and (max-width: 1450px) {
      padding-top: calc(110% - #{(18 * $i) + 'px'});
      width: calc(110% - #{(18 * $i) + 'px'});
    }
    @media screen and (max-width: $large) {
      padding-top: calc(115% - #{(16 * $i) + 'px'});
      width: calc(115% - #{(16 * $i) + 'px'});
    }
    @media screen and (max-width: $medium) {
      padding-top: calc(130% - #{(14 * $i) + 'px'});
      width: calc(130% - #{(14 * $i) + 'px'});
    }
    @media screen and (max-width: 750px) {
      padding-top: calc(150% - #{(12 * $i) + 'px'});
      width: calc(150% - #{(12 * $i) + 'px'});
    }
    @media screen and (max-width: $small) {
      padding-top: calc(180% - #{(10 * $i) + 'px'});
      width: calc(180% - #{(10 * $i) + 'px'});
    }
  }
}
